.step-circle{
    background-color: #445dda;
    width: 60px;
    border-radius: 50px;
    margin: 50px 29px;
    text-align: center;
    line-height: 60px;
    color: #fff;

}
.step-circle span{
    display: inline-block;
    vertical-align: middle;
}
.line:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 12px;
    background-color: #445dda;
    position: relative;
    margin-right: -100%;
    right: -25px;
}