.step-circle{
    background-color: #445dda;
    width: 60px;
    border-radius: 60px;
    margin: 50px 29px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    color: #fff;
    position: relative;
    left: 50%;

}
.step-circle span{
    display: inline-block;
    vertical-align: middle;
}
.step-yes{
    background-color: darkgreen;
}
.step-no{
    background-color: brown;
}
.step-current{
   width: 65px;
   height: 65px;
}